#get
	width 100%
	padding 60px 0
	background-color #fff
.get_list
	width 100%
	max-width 650px
	margin 0 auto
	li
		list-style none
		font-size: 20px
		margin-bottom: 20px
		position relative
		background-image url(../img/warning_img.png)
		background-repeat no-repeat
		background-size 5px
		background-position: left center
		padding-left: 17px
		&:last-child
			margin-bottom: 0