@media screen and (min-width: 2295px)
	.container
		width 1400px
	#logo
		width: 200px
	.contacts a .fa
	.contacts a .fa+span
		font-size: 20px
		line-height: 20px
	#header
		margin-bottom: 40px
	.get_list
		max-width 800px
		li
			font-size: 22px
	#plan_tabs
		max-width 800px
	.lesson_list li
	.button
	.price_packet_list li
	.about_text
	.about_list li
	.text_rev_title
		font-size: 20px
	.packets
		min-height 590px
	.learn_packet
		max-width 1000px
	.learn_packet_text
		font-size: 24px
	.price_packet
		max-width 380px
	.price_packet_body
		min-height 540px
	.text_rev_text
	#footer #conditions, #footer p
		font-size: 18px
	.video_wrapper_video_revs
		max-width 700px
	#video_revs
	#videos_tabs
		max-width 850px
	.soc_buttons a
		width: 45px
		height 45px
		i
			line-height: 45px
			font-size: 24px
	.videos_text
		font-size: 22px
@media screen and (max-width 1199px)
	.price_packet_body
		min-height 568px
	.cert_img
		max-width: 52px
	.text_rev
		height 511px

@media screen and (max-width 991px)
	#header
		padding 10px 0
	#logo
		float: none
		display block
		margin 0 auto
	.contacts
		float: none
		text-align: center
		a
			display: inline-block
			margin 5px 5px 0
			.fa
				margin 0 5px 0 10px
	#main
		text-align: center
	.learn_packet
		float none
		margin 0 auto 20px
	.price_packet_body
		min-height 800px
	.cert_img
		max-width: 65px;
		margin: 0 5px 5px;
	.text_rev
		height 742px
	#text_revs
		.item
			padding 0 20px
@media screen and (max-width 767px)
	#main
		padding-bottom: 40px
	#get
	#plan
	#learn
	#prices
	#videos
	#feedback
	#reveiws
	#author
		padding 40px 0
	.packets
	.price_packet_body
		min-height 1px
	#vk
		margin-bottom: 25px
	#footer
		padding 20px 0
	#lidya_about
		max-width 200px
		margin 0 0 25px
		display block
		float none
	.about_text:last-of-type
		margin-bottom: 20px
	.certs
		width: 100%
		max-width 490px
	.text_rev
		display block
		height auto
		padding 20px 30px
		border: 3px solid #eee
	.text_container, .text_img_container
		display block
	.text_container
		padding-left: 0
	.text_img_container img
		margin-bottom: 10px
	.carousel-control
		top auto
	.text_controls .carousel-control
		bottom: -20px
	.plan_tabs_buttons li
		font-size: 20px
		width: 120px
	.videos_links li
		width: 80px
		margin 0 5px 15px
		font-size: 16px
	.lessons_buttons li
		margin 0 5px 10px
@media screen and (max-width 485px)
	#header
		margin-bottom: 10px
	#logo
		width: 140px
	.contacts a .fa
	.contacts a .fa + span
		font-size: 12px
		line-height: 12px
	.pre
		font-size: 20px
		span
			display: inline-block
	.main_title
		font-size: 36px
		margin 10px 0
	.main_subtitle
		font-size: 24px
		margin-bottom: 10px
	.main_date
		font-size: 22px
	.button_main
		margin-top: 30px
	#main
		padding-bottom: 30px
	#author, #feedback, #get, #learn, #plan, #prices, #reveiws, #videos
		padding 30px 0
	.general_title
		font-size: 26px
		margin-bottom: 30px
	.get_list li
		font-size: 18px
		margin-bottom: 10px
	.plan_tabs_buttons li
		font-size: 16px
		width 105px
		margin 0 5px 10px
	.packet_title
	.price_packet_head_title
	.buy_recs_text
		font-size: 22px
	#plan_tabs
		margin-bottom: 30px
	.learn_packet_text
		font-size: 18px
		margin-bottom: 10px
	.learn_packet
		padding 15px 20px
	.flip-clock-wrapper
		width 100%
		max-width 260px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.prepayment
		margin-top: 10px
	.timer_title
		font-size: 24px
	.alert-danger
		font-size: 20px
		margin-top: 20px
	.prepaymant_title
		font-size: 28px
	.prepayment
		margin-top: 0
	.prepayment_text
		font-size: 22px
		br
			display: none
	#text_revs .item
		padding 0
	.text_rev
		padding 15px 20px
	#footer
		padding 20px 0
		h5
			font-size: 20px
		p
			font-size: 12px
	.soc_buttons a
		width 30px
		height 30px
		line-height: 32px
		margin 10px 8px
	.videos_day
		padding 15px
	#videos_tabs
		margin-bottom: 30px
	.lessons_buttons li
		font-size: 13px
		width: 70px
@media screen and (max-width 380px)
	.pre
	.main_date
	#footer h5
		font-size: 18px
	.main_title
		font-size: 26px
		line-height: 1.2
	.main_subtitle
		font-size: 20px
	.price_packet_body_title
		font-size: 18px
		small 
			font-size: 85%
	.button
		font-size: 14px
	.packets
		padding 15px
	.learn_packet_text
		font-size: 16px
	.price_packet_head
	.price_packet_footer
	.price_packet_body
		padding 10px 0
		padding 10px 0
	.price_packet
		padding 0 10px
		margin-bottom: 20px
	.cost_button
	.timer_title
		margin-top: 20px