#plan
	width 100%
	padding 60px 0
	background-color: #0F1539
	background-image url(../img/as_n_qs_mob.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.general_title_plan
	color #fff
#plan_tabs
	width 100%
	max-width 650px
	margin 0 auto 60px
.packets
	border-radius: 20px
	padding 20px
	background-color #fff
	min-height 546px
.plan_tabs_buttons
	text-align: center
	width 100%
	li
		list-style none
		width: 170px
		height 45px
		line-height 45px
		font-size: 22px
		display: inline-block
		background-color: #e8e8e8
		border-radius: 20px
		margin 0 10px 15px
		transition: all .3s ease
		a
			color #d95e7b
			display: inline-block
			width inherit
			height inherit
		&.ui-state-active
		&.ui-state-hover
			background-color: #c73c5d
			font-family: "GilroyExtraBold", sans-serif
			a
				text-decoration: none
				color #fff
.packet_title
	text-align: center
	font-size: 24px
	margin-bottom: 20px
	font-family: "GilroyExtraBold", sans-serif
	color #d95e7b
	small
		display block
		color #000
		font-family: "GilroyLight", sans-serif
.lessons_buttons
	width 100%
	text-align: center
	li
		border-radius: 20px
		list-style: none
		display: inline-block
		margin 0 10px 10px
		font-size: 18px
		width: 100px
		height 35px
		line-height: 35px
		background-color: #e5e3e3
		transition: all .2s ease
		a
			font-family: "GilroyLight", sans-serif
			color #000
			display block
			text-decoration: none
		&.ui-state-active
		&.ui-state-hover
			box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.15);
			a
				color #c73c5d
				font-family: "GilroyExtraBold", sans-serif
.lesson_title
	font-size: 20px
	margin: 15px 0 5px
	font-family: "GilroyExtraBold", sans-serif
.lesson_list
	padding-left: 20px
	li
		padding-left: 11px
		position relative
		margin-bottom: 10px
		list-style: none
		&:before
			content: ''
			position: absolute
			top 9px
			left 0
			width: 7px
			height 7px
			border-radius: 50px
			background-color: #d95e7b
		&:last-child
			margin-bottom: 0
.lesson_bonus
	font-family: "GilroyExtraBold", sans-serif
	color #d95e7b
	padding-left: 20px
	span
		font-family: "GilroyLight", sans-serif
		color #000