#reveiws
	width 100%
	padding 0 0 93px
.general_title_reveiws
	margin-bottom: 64px
#video_revs
	width: 100%
	max-width 655px
	margin 0 auto 60px
.video_wrapper_video_revs
	width: 100%
	max-width: 488px
	margin 0 auto 16px
.carousel-indicators
	position: static
	margin: 0 auto
	li
		width: 19px
		height 4px
		border-radius: 2px
		border none 
		background-color: #e5e3e3
		margin 1px 5px
		transition: all .8s ease-in-out
	.active
		width: 19px
		height 4px
		border-radius: 2px
		border none 
		background-color: #d95e7b
		margin 1px 5px
.carousel-control
	top: calc(50% - 45px)
	text-shadow: none
	background-color: #d95e7b
	border-radius: 50%
	width 50px
	height 50px
	line-height: 50px
	font-size: 26px
	opacity 1
	font-family: 'OpenSansLight', sans-serif
.carousel-control.left
.carousel-control.right
	background-image: none
.text_rev
	width 100%
	max-width 1088px
	margin 0 auto 16px
	display: table
	background-color #fff
	border-radius: 5px
	box-shadow: 0px 1px 11.83px 1.17px rgba(0, 0, 0, 0.1);
	padding 28px 43px 35px
	height: 448px
.text_img_container
.text_container
	display: table-cell
	vertical-align: top
.text_img_container
	img
		width: 71px
		height 71px
		border-radius: 50%
.text_container
	padding-left: 26px
.text_rev_title
	font-size: 16px;
	font-family: "GilroyExtraBold", sans-serif;
	color: rgb(217, 94, 123);
	line-height: 1.2
	margin-bottom: 8px
.text_rev_text 
	font-size: 14px
	line-height: 21px
	color #22222f
.button_revs
	margin-top: 60px