mixin ans(cl,a,q)
	.as_n_qs_container(class= cl)
		p.question_text= q
		p.answer_text= a

section#as_n_qs
	.container
		h3.general_title.general_title_as_n_qs За 
			span 5 дней 
			| мы получим 
			span от 10 ответов 
			| на свои вопросы:
		.row
			.col-md-6.col-sm-6
				+ans('as_n_qs_container_1','Вы хотите знать, что приготовило вам будущее? Какая у вас судьба по тому или иному вопросу?','На этом интенсиве, вы научитесь открывать тайны судьбы с помощью звезд')
				+ans('as_n_qs_container_2','Вас мучает вопрос в голове - изменяет ли мне мой любимый?','Вы  познакомитесь с показателями измены в хорарной карте и ответите на этот вопрос')
				+ans('as_n_qs_container_3','Cпрашиваете себя, кого из двух мужчин выбрать?','С помощью хорарной карты вы узнаете, кто вас действительно любити кого из них стоить выбрать для счастливых отношений')
				+ans('as_n_qs_container_4','Вам не дает покоя мысль, кого любит больше ваш возлюбленный, вас или вашу подругу?','С помощью звездной карты научитесь с точностью определять чувства людей друг к другу')
				+ans('as_n_qs_container_5','Вас мучает вопрос, а будут ли в вашем браке дети?','Вы узнаете ответ на этот вопрос, используя звездную карту')
			.col-md-6.col-sm-6
				+ans('as_n_qs_container_6','Вы задаете себе вопрос, а будет ли наш брак счастливым?','Вы узнаете ответ на этот вопрос, используя звездную карту')
				+ans('as_n_qs_container_7','Вы устали от ненадежности мужчин? Вы хотите выбрать достойного и верного?','Вы узнаете, как определить, является ли мужчина таким, с помощью звезд')
				+ans('as_n_qs_container_8','Вы устали от того, что все вокруг скрывают правду, предают и обманывают вас?','Вы приобретете инструмент, который показывает вам чистую правду о всем происходящем')
				+ans('as_n_qs_container_9','Мысли  о настоящем и будущем жужжат в голове как пчелы и не дают покоя?','Вы узнаете ответы на ваши вопросы и приобретете спокойствие и умиротворение')
				+ans('as_n_qs_container_10','Вас интересует, как относятся к вам окружающие люди?','Вы узнаете, что думают о вас люди, какие чувства они испытывают к вам')
		button.button.button_as_n_qs(data-toggle="modal" data-target="#myModal") Получить ответы