section#for
	.container
		h3.general_title.general_title_for Этот интенсив для тех:
		.for_container.for_container_1
			p.for_text Кто хочет 
				span научиться считывать будущее 
				| по звездам
			p.for_text Кто хочет 
				span понимать настоящее 
				| и видеть его реальным, а не сквозь розовые очки
			p.for_text Кто хочет 
				span обрести покой 
				| и 
				span уверенность 
				| в завтрашнем дне, зная свое будущее!
		.for_container.for_container_2
			p.for_text Кто хочет 
				span знать правду 
				| и только правду
			p.for_text Кто хочет 
				span знать о своем спутнике  все 
				| - какие планы он вынашивает? Любит - не любит? Хочет ли серьезных отношений? Изменяет ли он?
			p.for_text Кто хочет 
				span выбрать лучшего 
				| партнера для своей жизни
		.clearfix
		button.button.button_for(data-toggle="modal" data-target="#myModal") Записаться