mixin  day(cl, i_cl, src, h4, bonus, ...items)
	.day(class= cl)
		img.lazy.day_img(data-src= src, alt= h4, class= i_cl)
		h4.day_title= h4
		ul.day_list
			each item in items
				li= item
		p.bonus Бонус: 
			span= bonus
section#plan
	.container
		h3.general_title.general_title_plan План интенсива
		+day('day_1','day_img_1','img/day_img_1.png','День 1','периоды ретроградного Меркурия на весь год','Введение в хорарную астрологию', 'Как работает хорарная астрология', 'Возможности хорарной астрологии', 'Как нужно относиться к космосу, чтобы получить самый точный и правдивый ответ?', 'Учимся правильно задавать вопрос', 'Символика планет', 'Учимся строить ваш первый хорар')
		+day('day_2','day_img_2','img/day_img_2.png','День 2','просмотр будущего для пары','Учимся толковать хорарную карту', 'Планеты и знаки зодиака, какую роль они играют в звездной карте', 'Линия горизонта', 'Астрологические дома и их управители', 'Мужчина и женщина в хорарной карте', 'Определяем чувства  людей  друг к другу')
		+day('day_3','day_img_3','img/day_img_3.png','День 3','болезненная влюбленность','Сожжение и его значение в хорарной карте', 'Экзальзтация и ее значение', 'Потребность во внимание (для женщин)', 'Тяга к уважению и признанию', 'Желание страсти и секса', 'Сожженный путь и его значение в хорарной  карте')
		+day('day_4','day_img_4','img/day_img_4.png','День 4','просмотр будущего - будет ли брак долгим?','Хочет ли он на серьезные, семейные отношения, брак?', 'Жребий брака, делаем расчеты', 'Кого выбрать из двух мужчин?', 'Надежен ли мужчина? Можно ли ему доверять?', 'Какой характер у женщины?')
		+day('day_5','day_img_5','img/day_img_5.png','День 5','просмотр будущего - будут ли у нас в этом браке дети?','Тайная связь с другой женщиной', 'Измена и ее показатели в хорарной карте', 'Флирт в звездной карте', 'Факт обмана', 'Сила лести')
		.clearfix
		button.button.button_for(data-toggle="modal" data-target="#myModal")
			span Записаться на интенсив
			i.fa.fa-check-square-o.fa-button(aria-hiden="true")