section#reveiws
	.container
		h3.general_title.general_title_reveiws Отзывы учеников:
		#video_revs.carousel.slide(data-ride="carousel" data-interval="false")
			.carousel-inner(role="listbox")
				.item.active
					.video_wrapper.video_wrapper_video_revs( data-youtube="jNXEn1bfXI0")
						img.lazy(data-src="img/revs/video_1.jpg" alt="Видео отзыв 1")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="uTA36j5T2Ms")
						img.lazy(data-src="img/revs/video_2.jpg" alt="Видео отзыв 2")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="j5JsPTfE_68")
						img.lazy(data-src="img/revs/video_3.jpg" alt="Видео отзыв 3")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="n3jIoubJecc")
						img.lazy(data-src="img/revs/video_4.jpg" alt="Видео отзыв 4")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="656xgFi4E8g")
						img.lazy(data-src="img/revs/video_5.jpg" alt="Видео отзыв 5")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="JYtyKvY3_xU")
						img.lazy(data-src="img/revs/video_6.jpg" alt="Видео отзыв 6")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="/k4jzkVBDtK0")
						img.lazy(data-src="img/revs/video_7.jpg" alt="Видео отзыв 7")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="jwsoAUhUCOU")
						img.lazy(data-src="img/revs/video_8.jpg" alt="Видео отзыв 8")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="BJfeuqI2JTQ")
						img.lazy(data-src="img/revs/video_9.jpg" alt="Видео отзыв 9")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="sVgMTVwuV1s")
						img.lazy(data-src="img/revs/video_10.jpg" alt="Видео отзыв 10")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="uD0Oit5Cslk")
						img.lazy(data-src="img/revs/video_11.jpg" alt="Видео отзыв 11")
			ol.carousel-indicators
				li.active( data-target="#video_revs" data-slide-to="0")
				li( data-target="#video_revs" data-slide-to="1")
				li( data-target="#video_revs" data-slide-to="2")
				li( data-target="#video_revs" data-slide-to="3")
				li( data-target="#video_revs" data-slide-to="4")
				li( data-target="#video_revs" data-slide-to="5")
				li( data-target="#video_revs" data-slide-to="6")
				li( data-target="#video_revs" data-slide-to="7")
				li( data-target="#video_revs" data-slide-to="8")
				li( data-target="#video_revs" data-slide-to="9")
				li( data-target="#video_revs" data-slide-to="10")
			.controls.video_controls
				a( class="left carousel-control" href="#video_revs" role="button" data-slide="prev") ❮
				a( class="right carousel-control" href="#video_revs" role="button" data-slide="next") ❯
		#text_revs.carousel.slide(data-ride="carousel" data-interval="false")
			.carousel-inner(role="listbox")
				.item.active
					.text_rev
						.text_img_container
							img(src="img/revs/text_img_1.jpg", alt="Наталья Терентьева")
						.text_container
							h5.text_rev_title Наталья Терентьева
							p.text_rev_text Здравствуйте! Меня зовут Наталья, я из города Волгограда. Обучалась у Лидии Хэлль на курсе по «Формуле Души». И хочу выразить Лидии огромную благодарность за те знания, которые я получила в процессе обучения. За то, что у меня теперь есть любимая профессия астропсихолога. Ведь Формула души – это оптимальный путь развития человека, путь его Души. А человек может быть по настоящему счастлив и здоров только тогда, когда следует своему предназначению. В процессе обучения, я очень много узнала о себе. Я давно интересовалась астрологией, и как оказалось, не случайно. Ведь астрология – это именно и есть путь моей Души. Теперь я могу определить предназначение человека, подобрать подходящие по Душе профессии. Могу определить предрасположенность к болезням, узнать информацию об опасностях и возможных испытаниях в жизни человека. Также на курсе мы научились проводить консультацию по совместимости в отношениях между людьми. Один из плюсов обучения у Лидии – это много практика. И конечно же, это работа с незнакомым клиентом. Я получила несколько положительных отзывов о своей работе, чему была очень рада. Это большой опыт! Благодарю Лидию за ее профессионализм. И желаю дальнейшего процветания ее школе, личного счастья и всех благ!
				.item
					.text_rev
						.text_img_container
							img(src="img/revs/text_img_2.jpg", alt="Юлия Щербакова")
						.text_container
							h5.text_rev_title Юлия Щербакова
							p.text_rev_text Всем привет!  Меня зовут Юлия Щербакова. Хочу оставить отзыв по курсу "Формула Души" нашему преподавателю и непревзойденному Астрологу-профессионалу - Лидии Хелль!!!  Время пролетело быстро и уже окончен нами - студентами курс. Главным и особо важным критерием обучения в школе "Счастливый Юпитер" была практика после каждой теоретической части, чтобы мы - студенты, закрепили данные нам знания. Главной причиной, почему я пошла на этот курс - это конечно же, понять саму себя и свое предназначение, а также научиться понимать к чему предназначен тот или иной человек, почему он на протяжении своей жизни приобретает различные болезни. Зная как человек живет и развивается, можно понять с помощью Формулы Души, находится ли он на своем месте, подходит ли ему та или иная профессия. Еще на данном курсе мы научились составлять совместимость, на сколько люди друг другу подходят. Волнительным моментом была работа с незнакомым клиентом. Это отличный опыт, где были применены усвоенные на курсе знания. Но как же приятно было получить после, такой теплый отзыв от клиента! Низкий поклон нашему прекрасному учителю и профессионалу своего дела, астрологу - Лидии Хелль!!! И огромная благодарность за предоставленную возможность пройти обучение в школе "Счастливый Юпитер"!!!
				.item
					.text_rev
						.text_img_container
							img(src="img/revs/text_img_3.jpg", alt="Светлана Ланская")
						.text_container
							h5.text_rev_title Светлана Ланская
							p.text_rev_text ЗдраВствуйте.дорогие посетители, коллеги. наставники и все все все! Я-Светлана. слушатель и студентка курсов "Формула души" под опытным. умным. вдумчивым руководством и обучением нашего Учителя -Лидии Хэлль. Лидия не только преподаватель грамотный. но и тончайший Астролог. разбирающийся во всех нюансах рекомендаций Звездного неба и звезд. Это и притянуло меня окончить курс на астропсихолога.чтобы подсказывать своим клиентам ориентацию в профессии, откуда "растут ноги" их проблем в здоровье. в любви. в проблемах. в сложнейших ситуациях и во взаимоотношениях в семье. в коллективах. с соседями и многое-многое. Хочу выразить свою радость от личного общения с моим наставником Лидией- это терпеливый. вдумчивый. тактичный человек и главное- суперпрофессиональный в теме Астрология во всех ее направлениях. Удачи Вам огромной,Лидия. и дальнейшего продвижения в таком нужном актуальном в наше непростое время-обучении звездной грамотности людей. Светлана Ланская
				.item
					.text_rev
						.text_img_container
							img(src="img/revs/text_img_4.jpg", alt="Светлана Дворак")
						.text_container
							h5.text_rev_title Светлана Дворак
							p.text_rev_text Меня зовут Светлана Дворак. Я живу не далеко от города Краснодара. Хочу оставить отзыв Лидии Хэлль, замечательному преподавателю курса " Формула Души" Я рада, что попала на этот курс. Я узнала, что , зная только дату рождения человека, можно узнать о нем очень много. Теперь я любому человеку могу подобрать множество профессий, по его предназначению. Дам совет по решению проблем в отношениях и по здоровью. Расскажу о совместимости двух людей, что они дают друг другу. Подскажу в какой день лучше проводить свадьбу, чтобы совместная жизнь молодоженов оказалась долгой и счастливой. Рассчитаю благоприятный день для открытия бизнеса. Лидия замечательный преподаватель. Она открыта, дружелюбна , доброжелательна. Весь учебный материал разложила по полочкам. Показала на примерах, как нужно его применять. Все ученики ощущали поддержку и помощь самой Лидии и ее помощницы. Наводящими вопросами подводили нас к правильному ответу на свои же вопросы. Такая методика обучения помогла почувствовать себя настоящим профессионалом Выражаю огромную благодарность Лидии Хэлль и её помощнице Елене Гавриловой. Они проделали огромную работу, чтобы мы стали уверенными профессионалами.
			ol.carousel-indicators
				li.active( data-target="#text_revs" data-slide-to="0")
				li( data-target="#text_revs" data-slide-to="1")
				li( data-target="#text_revs" data-slide-to="2")
				li( data-target="#text_revs" data-slide-to="4")
			.controls.video_controls
				a( class="left carousel-control" href="#text_revs" role="button" data-slide="prev") ❮
				a( class="right carousel-control" href="#text_revs" role="button" data-slide="next") ❯