#footer
	width 100%
	padding 40px 0
	background-color: #020217
	text-align: center;
	p
		font-size: 14px;
		font-family: "Open SansLight", sans-serif;
		color: rgba(254, 254, 254, 0.6);
		line-height: 1.2;
