#for
	width 100%
	padding 71px 0 7px
	background-color #fff
	background-image url(../img/for_bg.png)
	background-repeat no-repeat
	background-position: center 74%
.general_title_for
	margin-bottom: 140px
.for_container
	float left
	width 315px
.for_container_2
	float: right
.for_text
	font-size: 18px
	margin-bottom: 50px
	padding-left: 24px
	background-image url(../img/warning_img.png)
	background-repeat no-repeat
	background-position: center left
	span
		font-family: "GilroyExtraBold", sans-serif;
.button_for
	margin-top: 30px