@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	#main
		padding-bottom: 90px
	#logo
		width: 200px
	.contacts a .fa
	.contacts a .fa+span
		font-size: 20px
		line-height: 20px
	.main_title
		margin 30px 0
	.main_video_wrapper
		margin-top: 40px
		max-width 550px
	#lidya_main
		width: 465px
		right 90px
	.mail_section_subtitle
	.button
	.mail
		font-size: 18px
	.checking .check_label
			font-size: 16px
	.for_text
		font-size: 24px
	.for_container
		width 415px
	.as_n_qs_container
		max-width 100%
		height 147px
		border-radius: 100px
	.day
		max-width 1000px
	.day_title
	.about_title
		font-size: 24px
	.day_list li
	.bonus
	.about_subtitle
		font-size: 22px
	.button_for
		max-width 320px
	#video_revs
		max-width 800px
	.video_wrapper_video_revs
		max-width 650px
	.text_rev_title
		font-size: 20px
	.text_rev_text
	#footer p
		font-size: 18px
	.text_rev
		height 537px
@media screen and (max-width 1199px)
	.form_newsletter_mail_section
		width: 39%
	.mail_section_title
		width: 29%
	.soc_buttons_container
		width: 32%
	#for
		background-position: center 60%
		background-size: 36%
	.as_n_qs_container
		height 165px
		border-radius: 100px
	.day
		float: none
		margin 0 auto 113px
	.day_img_1, .day_img_3, .day_img_5
		right -11px
	.day_img_2, .day_img_4
		left -11px
	.day_2, .day_4
		padding-left: 350px;
	.about_text:last-of-type
		margin-bottom: 80px
	.about_list_directions
		margin-bottom: 30px
	.cert_img
		max-width 90px
	.text_rev
		height 511px
	.modal_form
	.modal_mail_section_title
		width 100%