@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	#main
		padding-bottom: 90px
	#logo
		width: 200px
	.contacts a .fa
	.contacts a .fa+span
		font-size: 20px
		line-height: 20px
	.main_title
		margin 30px 0
	.main_video_wrapper
		margin-top: 40px
		max-width 550px
	#lidya_main
		width: 465px
		right 90px
	.mail_section_subtitle
	.button
	.mail
		font-size: 18px
	.checking .check_label
			font-size: 16px
	.for_text
		font-size: 24px
	.for_container
		width 415px
	.as_n_qs_container
		max-width 100%
		height 147px
		border-radius: 100px
	.day
		max-width 1000px
	.day_title
	.about_title
		font-size: 24px
	.day_list li
	.bonus
	.about_subtitle
		font-size: 22px
	.button_for
		max-width 320px
	#video_revs
		max-width 800px
	.video_wrapper_video_revs
		max-width 650px
	.text_rev_title
		font-size: 20px
	.text_rev_text
	#footer p
		font-size: 18px
	.text_rev
		height 537px