@media screen and (min-width 2295px)
	.container
		width 1400px
	#main
		padding-bottom: 90px
	#logo
		width: 200px
	.contacts a .fa
	.contacts a .fa+span
		font-size: 20px
		line-height: 20px
	.main_title
		margin 30px 0
	.main_video_wrapper
		margin-top: 40px
		max-width 550px
	#lidya_main
		width: 465px
		right 90px
	.mail_section_subtitle
	.button
	.mail
		font-size: 18px
	.checking .check_label
			font-size: 16px
	.for_text
		font-size: 24px
	.for_container
		width 415px