#plan
	width 100%
	padding 0 0 47px
.general_title_plan
	margin-bottom: 152px
.day
	border 1px solid rgb(244, 241, 243);
	border-radius: 5px;
	background-color: #fff
	box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.15);
	width 100%
	max-width: 879px;
	padding-top 20px 
	padding-bottom: 33px
	position relative
	margin: 0 72px 113px 65px
	float left
.day_1
.day_3
.day_5
	padding-left: 59px
	padding-right: 255px
.day_2
.day_4
	float: right
	padding-left: 321px
	padding-right: 52px
.day_5
	margin-bottom: 87px
	padding-right: 343px;
.day_img
	position: absolute
	top -76px
.day_img_1
.day_img_3
.day_img_5
	right -70px
.day_img_2
.day_img_4
	left -70px
.day_title
	font-size: 22px;
	font-family: "GilroyExtraBold", sans-serif;
	color: rgb(217, 94, 123);
	line-height: 39px
	margin-bottom: 13px
	display: inline-block
	border-radius: 19.5px
	background-color: #e8e8e8
	padding 0 24px
.day_list
	margin-left: 5px
	li
		list-style: none
		position relative
		font-size: 18px
		margin-bottom: 5px
		line-height: 1.27
		padding-left: 20px
		color #22222f
		&:before
			content: ''
			position: absolute
			display block
			width: 7px
			height 7px
			background-color: #d95e7b
			border-radius: 50%
			top 9px
			left 0
.bonus
	font-size: 18px
	font-family: "GilroyExtraBold", sans-serif;
	color #d95e7b
	margin-left: 25px;
	span
		color #22222f
.button_plan	
	max-width: 335px;