#videos
	width 100%
	padding 60px 0
	background-color: #040421
	background-image url(../img/author_bg_mob.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.general_title_videos
	color #fff
#videos_tabs
	width 100%
	max-width 560px
	margin 0 auto 40px
.videos_links
	text-align: center
	li
		border-radius: 20px
		list-style: none
		display: inline-block
		margin 0 8px 20px
		font-size: 18px
		width: 90px
		height 35px
		line-height: 35px
		background-color: #e5e3e3
		transition: all .2s ease
		a
			font-family: "GilroyLight", sans-serif
			color #000
			display block
			text-decoration: none
		&.ui-state-active
		&.ui-state-hover
			background-color: #c73c5d
			a
				color #fff
				font-family: "GilroyExtraBold", sans-serif
.videos_day
	padding 20px
	background-color #fff
	border-radius: 10px
	box-shadow: 0 1px 7px rgba(255,255,255,.56)
.video_title
	text-align: center
	margin-bottom: 10px
	font-family: "GilroyExtraBold", sans-serif
	font-size: 20px
.videos_text
	font-size: 18px
	margin-top: 15px
.buy_recs_text
	font-size: 24px
	text-align: center
	color #fff
	margin-bottom: 25px
#feedback
	width 100%
	padding 60px 0
.general_title_feedback
	span
		display: inline-block
#vk
#fb
	background-color #fff
	border-radius: 10px
	box-shadow: 0px 1px 11.83px 1.17px rgba(0, 0, 0, 0.1);