section#author
	.container
		h3.general_title.general_title_author Об авторе
		img.lazy#lidya_about(data-src="../img/lidya_about.png", alt="")
		.about
			h4.about_title Лидия Хэлль
			p.about_text Практикует астрологию 10 лет. Счастлива тем, что занимается любимым делом и уже помогла многим людям найти себя в этой жизни
				br
				| Ведущая  школы Астрологии - Счастливый Юпитер с 2014 года. Открыла свою школу Астрологии не только для того, чтобы передать  свои знания и опыт, но и помочь людям стать астрологами-профессионалами
				br
				| Предпочитает заниматься со студентами длительное время, что помогает им начать с нуля и стать в течение обучения профессиональным астрологом. Система обучения построена таким образом, что каждый студент может дойти до работы с незнакомым клиентом и, начав помогать другим, зарабатывать с помощью Астрологии
			p.about_text Таролог с 12-летним стажем, имеет 2 ступени Усуи Рэйки Риохо
				br
				| Исследует разные способы гадания: карты Ленорман, гадание на воске, гадание на кофейной гуще и другие. Работает с разными метафорическими картами как колода OH, Morena, Persona, Personita, Tan Doo
			h5.about_subtitle Любимые направления в Астрологии:
			ul.about_list.about_list_directions
				li Космограмма
				li Формула Души
				li Транзиты
				li Хорарная Астрология
				li Совместимость
		.clearfix
		.row
			.col-md-6.col-sm-6
				h5.about_subtitle Спец-образование:
				ul.about_list.about_list_educations
					li Колледж классической Астрологии - Allgeier и Noe, закончила 3 летнее обучение с сертификатом мастера
					li Школа русской Астрологии "Волхвы", закончила с дипломом - Формула Души
					li ВШКА, разные семинары и мастер-классы
			.col-md-6.col-sm-6.certs
				a(href="../img/certs/cert_1.jpg" data-fancybox="certs")
					img.lazy.cert_img(data-src="../img/certs/cert_1_min.png", alt="Сертификат 1")
				a(href="../img/certs/cert_2.jpg" data-fancybox="certs")
					img.lazy.cert_img(data-src="../img/certs/cert_2_min.png", alt="Сертификат 2")
				a(href="../img/certs/cert_3.jpg" data-fancybox="certs")
					img.lazy.cert_img(data-src="../img/certs/cert_3_min.png", alt="Сертификат 3")
				a(href="../img/certs/cert_4.jpg" data-fancybox="certs")
					img.lazy.cert_img(data-src="../img/certs/cert_4_min.png", alt="Сертификат 4")
				a(href="../img/certs/cert_5.jpg" data-fancybox="certs")
					img.lazy.cert_img(data-src="../img/certs/cert_5_min.png", alt="Сертификат 5")
				a(href="../img/certs/cert_6.jpg" data-fancybox="certs")
					img.lazy.cert_img(data-src="../img/certs/cert_6_min.png", alt="Сертификат 6")