section#get
	.container
		h3.general_title.general_title_get Что 
			span вы обретете
			| , благодаря этому курсу:
		ul.get_list
			li научитесь предсказывать будущее на любые вопросы 
			li сможете раскрывать секреты прошлого и настоящего;
			li станете спокойным и уверенным человеком, так как будущее перестанет быть для вас загадкой;
			li сможете помогать другим людям и тем самым приобретете дополнительный заработок;
			li станете уважаемым и нужным человеком, ибо не каждый в вашем окружение может предсказывать судьбу!;
			li приобретете новую и интересную профессию, которая станет вашим незаменимым помощником на всю жизнь