section#learn
	.container
		h3.general_title.general_title_learn Чему 
			span вы научитесь 
			| на курсе
			small (в рамках выбранного пакета)
		.learn_packet.learn_packet_1
			p.learn_packet_text
				span На пакете Серебро 
				| вы освоите полную теорию рассмотрения и построения хорарной карты. Это основной ключ, который дает понимание, как заходить  в хорарный гороскоп, и из каких пазлов собирается картинка прошлого, настоящего и будущего. В этом блоке вы познакомитесь с методиками прогнозирования будущего, с вычетом времени, когда свершится то или иное событие. Мы также научимся смотреть  вопросы любви и взаимоотношений, вопросы одиночества, брака и семейных отношений, вопросы деторождения и родов. На бонусном уроке, мы закрепим теорию на практике, используя ваши хорарные карты, для понимания и закрепления материала
		.learn_packet.learn_packet_2
			p.learn_packet_text
				span На пакете Золото 
				| в дополнение к тому, чему вы научитесь на пакете Серебро, мы продолжим знакомиться, не только с теорией, но и проводить обширную практику. Мы научимся рассматривать следующие темы: вопросы работы и бизнеса, вопросы здоровья и финансов,  вопросы смерти,  поездок и безопасности, вопросы обучения, экзаменов, судебных тяжб и тюремных заключений. После каждого теоретического урока, вас ждет практический урок, чтобы закрепить и понять теорию, на ваших хорарных картах
		.learn_packet.learn_packet_3
			p.learn_packet_text
				span На пакете Платина 
				| вы освоите все знания, навыки и умения предыдущих пакетов, а также получите новые, среди которых будут такие, как выигрыш в разных конкурсах, получение визы и гражданства, определение пола ребенка, потеря жилья и признаки нищеты, шпионаж и хорары о тайнах, поиск пропавших вещей, кража, поджог, политика и спорт, прогноз погоды, вопросы зависимостей, не останутся также без нашего внимания на этом курсе. Мы пройдем особенности в работе с клиентом, как провести консультацию, чтобы клиент остался довольным вашей консультацией
			p.learn_packet_text Зерном этого курса, станут уроки по гуморальной медицине, которые откроют вам возможности подобрать себе правильную диету, травы и минералы, для лечения причины болезни, а не ее симптомов
			p.learn_packet_text После каждого теоретического урока, вас ждет практический урок, чтобы закрепить и понять теорию, на ваших хорарных картах
			p.learn_packet_text Пройдя обучение на пакете Платина, вы обретете полноценное обучение по хорарной астрологии и научитесь консультировать людей по любым жизненным вопросам