section#plan
	.container
		h3.general_title.general_title_plan План 
			span курса
		#plan_tabs
			ul.plan_tabs_buttons
				li
					a(href="#silver") Серебро
				li
					a(href="#gold") Золото
				li
					a(href="#platinum") Платина
			.packets
				.packet#silver
					h4.packet_title ПАКЕТ СЕРЕБРО
						small “Хорарная Астрология для начинающих” - 7 уроков
					.lessons
						ul.lessons_buttons
							li
								a(href="#lesson_1") Урок 1
							li
								a(href="#lesson_2") Урок 2
							li
								a(href="#lesson_3") Урок 3
							li
								a(href="#lesson_4") Урок 4
							li
								a(href="#lesson_5") Урок 5
							li
								a(href="#lesson_6") Урок 6
							li
								a(href="#lesson_7") Урок 7
						.lesson#lesson_1
							h5.lesson_title Урок 1
							ul.lesson_list
								li Введение в Хорарную Астрологию
								li Ретроградность, директное движение и остановка
								li 12 домов и их значение
								li Производные дома
								li Акцединтальное управление
								li Домашнее задание
						.lesson#lesson_2
							h5.lesson_title Урок 2
							ul.lesson_list
								li Управление домами
								li Одна планета показывает и кверента и квезита
								li Альтернативные управители домов
								li Натуральное управление - Солнце, Луна, Меркурий, Венера, Марс, Юпитер и Сатурн
								li Знаки зодиака и их функции
								li Эссенциальное достоинство планет
								li Домашнее задание
						.lesson#lesson_3
							h5.lesson_title Урок 3
							ul.lesson_list
								li Достоинства по триплицитету, тэрму и фасу
								li Рецепции планет
								li Различие между акциденцией и эссенцией
								li Аспекты - соединение, трин, квадрат и оппозиция
								li Учимся искать аспекты на линейки
								li Домашнее задание
						.lesson#lesson_4
							h5.lesson_title Урок 4
							ul.lesson_list
								li Акциденция , сила или слабость домов.
								li Сожжение, казими, под лучами Солнца, соединение с узлами
								li Ретроградность и стационарность, их значение в хорарной карте
								li Телесная и лучевая осада
								li Соединение со звездами и с высшими планетами
								li Виа камбуста
								li Сходящиеся и расходящиеся аспекты. Собирание света, передача света, соединение, запрет и преодоление запрета
								li Домашнее задание
						.lesson#lesson_5
							h5.lesson_title Урок 5
							ul.lesson_list
								li Антисы
								li Время в хорарной астрологии
								li Долгосрочные прогнозы
								li Описание изменения во времени
								li Арабские точки
								li Неподвижные звезды
								li Радикальность карты
								li Отношения в хорарной карте/любовь/чувства/измена/флирт/секс/
								li Домашнее задание
						.lesson#lesson_6
							h5.lesson_title Урок 6
							ul.lesson_list
								li Отношения в хорарной карте/любовь/чувства/измена/флирт/секс/ 2 часть
								li Описание человека. Где будет встреча?
								li Выйду ли я замуж/женюсь и когда. Официальная регистрация, штамп в паспорте. Развод
								li Зачатие, беременность, бесплодие
								li Домашнее задание
						.lesson#lesson_7
							h5.lesson_title Урок 7
							p.lesson_bonus Бонус 
								span - практика 2,5
				.packet#gold
					h4.packet_title ПАКЕТ ЗОЛОТО
						small “Хорарная Астрология для продвинутых” - 15 уроков
					.lessons
						ul.lessons_buttons
							li
								a(href="#lesson_8") Урок 8
							li
								a(href="#lesson_9") Урок 9
							li
								a(href="#lesson_10") Урок 10
							li
								a(href="#lesson_11") Урок 11
							li
								a(href="#lesson_12") Урок 12
							li
								a(href="#lesson_13") Урок 13
							li
								a(href="#lesson_14") Урок 14
							li
								a(href="#lesson_15") Урок 15
						.lesson#lesson_8
							h5.lesson_title Урок 8
							ul.lesson_list
								li Когда я найду работу. Получу ли я эту работу?
								li Верну ли я свою работу/ Увольнение
								li Отношение с боссом
								li Карьерный рост/ повышение. Какая работа лучше?
								li Успех и смерть бизнеса
								li Сделки, договоры, тендеры
								li Покупка и продажа недвижимости
								li Домашнее задание
						.lesson#lesson_9
							h5.lesson_title Урок 9
							ul.lesson_list
								li Практика
								li Домашнее задание
						.lesson#lesson_10
							h5.lesson_title Урок 10
							ul.lesson_list
								li Вопросы здоровья
								li Планеты и органы. Планетарные симптомы. Операции, эффект от лечения
								li Болезни, выздоровление, смерть. Поиски смерти в прошлом
								li Домашнее задание
						.lesson#lesson_11
							h5.lesson_title Урок 11
							ul.lesson_list
								li Практика
								li Домашнее задание
						.lesson#lesson_12
							h5.lesson_title Урок 12
							ul.lesson_list
								li Финасовые вопросы.  Получение выигрышей/премии/штрафы
								li Возвращение долга. Акции
								li Элекции на вопросы про операцию
								li Самоубийство. Отцовство
								li Домашнее задание
						.lesson#lesson_13
							h5.lesson_title Урок 13
							ul.lesson_list
								li Практика
								li Домашнее задание
						.lesson#lesson_14
							h5.lesson_title Урок 14
							ul.lesson_list
								li Переезды, поездка, безопасность
								li Комфортность полета
								li Экзамены/обучение
								li Судебные тяжбы
								li Тюрьма и заключение
								li Домашнее задание
						.lesson#lesson_15
							h5.lesson_title Урок 15
							p.lesson_bonus Бонус 
								span - практика 2,5
				.packet#platinum
					h4.packet_title ПАКЕТ ПЛАТИНА
						small “Хорарная Астрология для гуру” - 24 урока
					.lessons
						ul.lessons_buttons
							li
								a(href="#lesson_16") Урок 16
							li
								a(href="#lesson_17") Урок 17
							li
								a(href="#lesson_18") Урок 18
							li
								a(href="#lesson_19") Урок 9
							li
								a(href="#lesson_20") Урок 20
							li
								a(href="#lesson_21") Урок 21
							li
								a(href="#lesson_22") Урок 22
							li
								a(href="#lesson_23") Урок 23
							li
								a(href="#lesson_24") Урок 24
						.lesson#lesson_16
							h5.lesson_title Урок 16
							ul.lesson_list
								li Поиск, кража, определение вора. Поджог. Профориентация
								li Выигрыш в разных конкурсах
								li Получение визы и гражданства
								li Как рассматривать хорары от лесбиянок и геев в теме любви
								li Пол ребенка, мальчик или девочка?
								li Домашнее задание
						.lesson#lesson_17
							h5.lesson_title Урок 17
							ul.lesson_list
								li Практика
								li Домашнее задание
						.lesson#lesson_18
							h5.lesson_title Урок 18
							ul.lesson_list
								li Политика и спорт
								li Достоверность информации
								li Ложь или правда
								li Особенности в работе с клиентом
								li Потеря жилья
								li Признаки социального падения, нищета
								li Домашнее задание
						.lesson#lesson_19
							h5.lesson_title Урок 19
							ul.lesson_list
								li Практика
								li Домашнее задание
						.lesson#lesson_20
							h5.lesson_title Урок 20
							ul.lesson_list
								li Толкование снов
								li Вопросы зависимости
								li Порчи, сглазы, проклятия
								li Прогноз погоды
								li Особенности в работе с клиентом
								li Шпионаж, подглядывание и хорары о тайнах
								li Домашнее задание
						.lesson#lesson_21
							h5.lesson_title Урок 21
							ul.lesson_list
								li Практика
								li Домашнее задание
						.lesson#lesson_22
							h5.lesson_title Урок 22
							ul.lesson_list
								li Гуморальная медицина
								li Домашнее задание
						.lesson#lesson_23
							h5.lesson_title Урок 23
							ul.lesson_list
								li Практика по гуморальной медицине
						.lesson#lesson_24
							h5.lesson_title Урок 24
							p.lesson_bonus Бонус 
								span - практика 2,5
		a.button.button_plan(href="#prices") Участвовать