section#reveiws
	.container
		h3.general_title.general_title_reveiws Отзывы учеников:
		#video_revs.carousel.slide(data-ride="carousel" data-interval="false")
			.carousel-inner(role="listbox")
				.item.active
					.video_wrapper.video_wrapper_video_revs( data-youtube="HBF69G_j6mM")
						img.lazy(data-src="../img/revs/video_12.jpg" alt="Видео отзыв 12")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="1SPx_O2tb0s")
						img.lazy(data-src="../img/revs/video_13.jpg" alt="Видео отзыв 13")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="XQWSRjUyhok")
						img.lazy(data-src="../img/revs/video_14.jpg" alt="Видео отзыв 14")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="f90Wg4eZI8o")
						img.lazy(data-src="../img/revs/video_15.jpg" alt="Видео отзыв 15")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="ikPzeLnOM3w")
						img.lazy(data-src="../img/revs/video_16.jpg" alt="Видео отзыв 16")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="DQl7nfBl82w")
						img.lazy(data-src="../img/revs/video_17.jpg" alt="Видео отзыв 17")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="jNXEn1bfXI0")
						img.lazy(data-src="../img/revs/video_1.jpg" alt="Видео отзыв 1")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="uTA36j5T2Ms")
						img.lazy(data-src="../img/revs/video_2.jpg" alt="Видео отзыв 2")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="j5JsPTfE_68")
						img.lazy(data-src="../img/revs/video_3.jpg" alt="Видео отзыв 3")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="n3jIoubJecc")
						img.lazy(data-src="../img/revs/video_4.jpg" alt="Видео отзыв 4")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="656xgFi4E8g")
						img.lazy(data-src="../img/revs/video_5.jpg" alt="Видео отзыв 5")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="JYtyKvY3_xU")
						img.lazy(data-src="../img/revs/video_6.jpg" alt="Видео отзыв 6")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="/k4jzkVBDtK0")
						img.lazy(data-src="../img/revs/video_7.jpg" alt="Видео отзыв 7")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="jwsoAUhUCOU")
						img.lazy(data-src="../img/revs/video_8.jpg" alt="Видео отзыв 8")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="BJfeuqI2JTQ")
						img.lazy(data-src="../img/revs/video_9.jpg" alt="Видео отзыв 9")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="sVgMTVwuV1s")
						img.lazy(data-src="../img/revs/video_10.jpg" alt="Видео отзыв 10")
				.item
					.video_wrapper.video_wrapper_video_revs( data-youtube="uD0Oit5Cslk")
						img.lazy(data-src="../img/revs/video_11.jpg" alt="Видео отзыв 11")
			ol.carousel-indicators
				li.active( data-target="#video_revs" data-slide-to="0")
				li( data-target="#video_revs" data-slide-to="1")
				li( data-target="#video_revs" data-slide-to="2")
				li( data-target="#video_revs" data-slide-to="3")
				li( data-target="#video_revs" data-slide-to="4")
				li( data-target="#video_revs" data-slide-to="5")
				li( data-target="#video_revs" data-slide-to="6")
				li( data-target="#video_revs" data-slide-to="7")
				li( data-target="#video_revs" data-slide-to="8")
				li( data-target="#video_revs" data-slide-to="9")
				li( data-target="#video_revs" data-slide-to="10")
				li( data-target="#video_revs" data-slide-to="11")
				li( data-target="#video_revs" data-slide-to="12")
				li( data-target="#video_revs" data-slide-to="13")
				li( data-target="#video_revs" data-slide-to="14")
				li( data-target="#video_revs" data-slide-to="15")
				li( data-target="#video_revs" data-slide-to="16")
			.controls.video_controls
				a( class="left carousel-control" href="#video_revs" role="button" data-slide="prev") ❮
				a( class="right carousel-control" href="#video_revs" role="button" data-slide="next") ❯
		#text_revs.carousel.slide(data-ride="carousel" data-interval="false")
			.carousel-inner(role="listbox")
				.item.active
					.text_rev
						.text_img_container
							img.lazy(data-src="../img/revs/text_img_6.jpg", alt="Елена Ничиженова")
						.text_container
							h5.text_rev_title Елена Ничиженова
							p.text_rev_text Доброго здравия всем!   Меня зовут Елена Ничиженова, я из сибирского города Красноярск. С большим удовольствием оставляю свой отзыв Астрологу Лидии Хэлль - нашему преподавателю по курсу "Формула Души". Учителю от Бога!!! И прекрасному человеку. Пройдя обучение у Лидии Хэлль, я осознала, насколько мне повезло в жизни встретиться с таким Учителем - талантливым и справедливым, проявляющим уважение и терпение к своим ученикам. Весь материал представлен в интересной и доступной форме. Большое значение при обучении в данном курсе имеет большое количество практических занятий и работа с клиентом, к которой тебя профессионально готовят. В результате ты понимаешь, насколько это ответственная и нужная работа консультанта. Потому что она приносит реальную помощь человеку и в ответ ты получаешь благодарный отзыв о проведенной консультации. Поэтому после завершения курса по Формуле Души можно профессионально заниматься Астрологией. Что нам дают знания по Формуле Души? Я думаю, это наша путеводная Звезда. Потому что эти знания помогают разобраться в себе, понять какие проблемы заложены с рождения, что делать, чтобы наладить нашу жизнь. Помогают открыть возможности, которые даны нам от природы. А это значит, понять свое профессиональное предназначение, чем лучше заниматься, чтобы испытывать радость и вдохновение, а в семье быть счастливым. Профессиональное обучение на курсе с большой практикой позволило проводить консультации с клиентами еще во время прохождения курса. Ко мне обратилась молодая пара с вопросом: есть ли способности у их маленькой дочери, чтобы стать профессиональной спортсменкой по фигурному катанию и даже хотели видеть ее Олимпийской чемпионкой. Я смогла родителям раскрыть все таланты и умения их дочери, определить профессиональные сферы, где их дочь сможет реализоваться. Родители были благодарны, так как теперь они знают особенности своего ребенка, ее спортивные данные, в какие творческие кружки можно отдать дочь.
				.item
					.text_rev
						.text_img_container
							img.lazy(data-src="../img/revs/text_img_7.jpg", alt="Ирина Махнёва")
						.text_container
							h5.text_rev_title Ирина Махнёва
							p.text_rev_text Здравствуйте, меня зовут Ирина Махнёва. Я живу в г.Уфа Республики Башкортостан. Хочу поделиться своей радостью и впечатлениями, оставшимися после изучения курса «Формула Души» замечательного Астролога Лидии Хэлль. С каждым днем убеждаюсь, что все события в нашей жизни не случайны. Видимо, пришло время и мне задаться вопросами: «Почему я такая? Правильно ли я живу? И в чем мое предназначение?» Судьба свела меня с Учителем, который помог мне разобраться в себе, открыл мне тайны Формулы Души. Я поняла, что Формула Души – это дверь в познание сути человека, открыв которую, он увидит свои таланты, свои ошибки, свое окружение и свою любовь. Он сможет понять, что ему необходимо для того, чтобы жить в гармонии с собой и внешним миром. А Астролог – это золотой ключик, который открывает эту волшебную дверь и ведет человека к своему предназначению.Благодаря полученным знаниям, теперь и я смогу лишь по дате рождения человека рассказать об особенностях его характера, о наличии того или иного таланта, о причинах проблем со здоровьем. С помощью Формулы Души я могу дать совет, как лучше раскрыть свой личностный потенциал, сделать правильный выбор профессии и спутника жизни, увидеть свою полосу удачи. У человека есть судьба, но у человека есть и выбор, который способен изменить любую судьбу.Лидия Хэлль за несколько месяцев дала мне столько бесценных знаний, сколько за пять лет не дает иной университет. Много теории, много практики и много домашней работы. Система обучения построена так, что не приходится тратить время на поиски дополнительного материала. Все необходимое и сверх того дано здесь и сейчас. От всей души благодарю Лидию за ее отзывчивость, тактичность, доброжелательность и, конечно же, за профессионализм. Отдельно хочу сказать огромное спасибо Елене Гавриловой за безграничное терпение и помощь в подготовке к работе с клиентом.
				.item
					.text_rev
						.text_img_container
							img.lazy(data-src="../img/revs/text_img_5.jpg", alt="Татьяна Абдуллаева")
						.text_container
							h5.text_rev_title Татьяна Абдуллаева
							p.text_rev_text Добрый день! Меня зовут Татьяна! Я из города Санкт-Петербург. Хочу оставить свой отзыв о пройденном курсе «Формула души». Этот курс, мне дал обширную информацию и знания в области Астропсихологии. Многие аспекты моей жизни, которые я не в силах была понять, стали приобретать четкие грани и очертания. Мне стало гораздо легче и проще понимать себя и окружающих меня людей, я взглянула на мир под другим углом с более ясной жизненной позиции. На сегодняшний день, я являюсь подготовленным и профессиональным специалистом в области астропсихологии, который может не только успешно идти по жизни, но и помогать познать себя другим людям, нуждающимся и ждущим помощи в понимании этого мира. Мои знания, накопленные за долгий период обучения, смогут помочь людям выбрать для себя правильную профессию, приносящую не только прибыль, но и душевное удовлетворение, а в жизни сейчас это одно из главных факторов счастья. Знания которые я получила, дала мне прекрасный преподаватель и замечательный человек Лидия Хелль. Она настолько грамотно, доступно и доходчиво доносила до нас информацию, что мы усваивали всё легко, непринужденно, запоем – как будто читали очень интересную книгу. Преподавательские качества у нее в крови и она по праву может считаться одним из лучших учителей. Поэтапная система образования, которая нам предоставлялась, дала нам возможность, четко запоминать и усваивать ту информацию, которая непосредственно пригодилась нам в нашей дальнейшей работе. Я желаю всем нам, и преподавателю и ученикам, дальнейшей продуктивной работы в оказании поддержки и помощи людям, которые хотят изменить к лучшему свою жизнь, понять себя, своих близких и окружающий мир. Спасибо и удачи всем нам, Татьяна
				.item
					.text_rev
						.text_img_container
							img.lazy(data-src="../img/revs/text_img_1.jpg", alt="Наталья Терентьева")
						.text_container
							h5.text_rev_title Наталья Терентьева
							p.text_rev_text Здравствуйте! Меня зовут Наталья, я из города Волгограда. Обучалась у Лидии Хэлль на курсе по «Формуле Души». И хочу выразить Лидии огромную благодарность за те знания, которые я получила в процессе обучения. За то, что у меня теперь есть любимая профессия астропсихолога. Ведь Формула души – это оптимальный путь развития человека, путь его Души. А человек может быть по настоящему счастлив и здоров только тогда, когда следует своему предназначению. В процессе обучения, я очень много узнала о себе. Я давно интересовалась астрологией, и как оказалось, не случайно. Ведь астрология – это именно и есть путь моей Души. Теперь я могу определить предназначение человека, подобрать подходящие по Душе профессии. Могу определить предрасположенность к болезням, узнать информацию об опасностях и возможных испытаниях в жизни человека. Также на курсе мы научились проводить консультацию по совместимости в отношениях между людьми. Один из плюсов обучения у Лидии – это много практика. И конечно же, это работа с незнакомым клиентом. Я получила несколько положительных отзывов о своей работе, чему была очень рада. Это большой опыт! Благодарю Лидию за ее профессионализм. И желаю дальнейшего процветания ее школе, личного счастья и всех благ!
				.item
					.text_rev
						.text_img_container
							img.lazy(data-src="../img/revs/text_img_2.jpg", alt="Юлия Щербакова")
						.text_container
							h5.text_rev_title Юлия Щербакова
							p.text_rev_text Всем привет!  Меня зовут Юлия Щербакова. Хочу оставить отзыв по курсу "Формула Души" нашему преподавателю и непревзойденному Астрологу-профессионалу - Лидии Хелль!!!  Время пролетело быстро и уже окончен нами - студентами курс. Главным и особо важным критерием обучения в школе "Счастливый Юпитер" была практика после каждой теоретической части, чтобы мы - студенты, закрепили данные нам знания. Главной причиной, почему я пошла на этот курс - это конечно же, понять саму себя и свое предназначение, а также научиться понимать к чему предназначен тот или иной человек, почему он на протяжении своей жизни приобретает различные болезни. Зная как человек живет и развивается, можно понять с помощью Формулы Души, находится ли он на своем месте, подходит ли ему та или иная профессия. Еще на данном курсе мы научились составлять совместимость, на сколько люди друг другу подходят. Волнительным моментом была работа с незнакомым клиентом. Это отличный опыт, где были применены усвоенные на курсе знания. Но как же приятно было получить после, такой теплый отзыв от клиента! Низкий поклон нашему прекрасному учителю и профессионалу своего дела, астрологу - Лидии Хелль!!! И огромная благодарность за предоставленную возможность пройти обучение в школе "Счастливый Юпитер"!!!
				.item
					.text_rev
						.text_img_container
							img.lazy(data-src="../img/revs/text_img_3.jpg", alt="Светлана Ланская")
						.text_container
							h5.text_rev_title Светлана Ланская
							p.text_rev_text ЗдраВствуйте.дорогие посетители, коллеги. наставники и все все все! Я-Светлана. слушатель и студентка курсов "Формула души" под опытным. умным. вдумчивым руководством и обучением нашего Учителя -Лидии Хэлль. Лидия не только преподаватель грамотный. но и тончайший Астролог. разбирающийся во всех нюансах рекомендаций Звездного неба и звезд. Это и притянуло меня окончить курс на астропсихолога.чтобы подсказывать своим клиентам ориентацию в профессии, откуда "растут ноги" их проблем в здоровье. в любви. в проблемах. в сложнейших ситуациях и во взаимоотношениях в семье. в коллективах. с соседями и многое-многое. Хочу выразить свою радость от личного общения с моим наставником Лидией- это терпеливый. вдумчивый. тактичный человек и главное- суперпрофессиональный в теме Астрология во всех ее направлениях. Удачи Вам огромной,Лидия. и дальнейшего продвижения в таком нужном актуальном в наше непростое время-обучении звездной грамотности людей. Светлана Ланская
				.item
					.text_rev
						.text_img_container
							img.lazy(data-src="../img/revs/text_img_4.jpg", alt="Светлана Дворак")
						.text_container
							h5.text_rev_title Светлана Дворак
							p.text_rev_text Меня зовут Светлана Дворак. Я живу не далеко от города Краснодара. Хочу оставить отзыв Лидии Хэлль, замечательному преподавателю курса " Формула Души" Я рада, что попала на этот курс. Я узнала, что , зная только дату рождения человека, можно узнать о нем очень много. Теперь я любому человеку могу подобрать множество профессий, по его предназначению. Дам совет по решению проблем в отношениях и по здоровью. Расскажу о совместимости двух людей, что они дают друг другу. Подскажу в какой день лучше проводить свадьбу, чтобы совместная жизнь молодоженов оказалась долгой и счастливой. Рассчитаю благоприятный день для открытия бизнеса. Лидия замечательный преподаватель. Она открыта, дружелюбна , доброжелательна. Весь учебный материал разложила по полочкам. Показала на примерах, как нужно его применять. Все ученики ощущали поддержку и помощь самой Лидии и ее помощницы. Наводящими вопросами подводили нас к правильному ответу на свои же вопросы. Такая методика обучения помогла почувствовать себя настоящим профессионалом Выражаю огромную благодарность Лидии Хэлль и её помощнице Елене Гавриловой. Они проделали огромную работу, чтобы мы стали уверенными профессионалами.
				.item
					.text_rev
						.text_img_container
							img.lazy(data-src="../img/revs/text_img_8.jpg", alt="Акку Зинелова")
						.text_container
							h5.text_rev_title Акку Зинелова
							p.text_rev_text Здравствуйте. Меня зовут Зинелова Акку. Я прошла курс по Формуле Души у Лидии Хэлль. Курс построен на высоком уровне, структурирован. Она Учитель от Бога, есть обратная связь и проверка домашних задании. Дается основы Космограммы. Было много практик, были работы с клиентами. Получены положительные отзывы. Это все благодаря такому Учителю. В данный момент я лучше понимаю астрологию, могу сказать про предназначение человека, какие профессии ему подходят, и многое другое. Я благодарю Лидию Хэлль за такое качественное обучение!!! И желаю ей процветание, много благодарных учеников и клиентов!!! Команду Мастервижн благодарю за организацию такого шикарного курса!!!
				.item
					.text_rev
						.text_img_container
							img.lazy(data-src="../img/revs/text_img_9.jpg", alt="Анна Шалюк")
						.text_container
							h5.text_rev_title Анна Шалюк
							p.text_rev_text Добрый день меня зовут Анна Шалюк.Я проходила курс "Формула Души " у Лидии Хелль.Я очень рада что попала к такому профессионалу как Лидия. Этот курс содержал много практики и, благодаря ежедневной поддержке Лидии и Елены, я усвоила этот материал и могу после курса самостоятельно работать с таким прекрасным методом. На этом курсе я узнала моё предназначение и для чего я на этой земле, так же я стала понимать моих близких и поддерживать их развитие.Благодарю от всего сердца Лидию.
			ol.carousel-indicators
				li.active( data-target="#text_revs" data-slide-to="0")
				li( data-target="#text_revs" data-slide-to="1")
				li( data-target="#text_revs" data-slide-to="2")
				li( data-target="#text_revs" data-slide-to="3")
				li( data-target="#text_revs" data-slide-to="4")
				li( data-target="#text_revs" data-slide-to="5")
				li( data-target="#text_revs" data-slide-to="6")
				li( data-target="#text_revs" data-slide-to="7")
				li( data-target="#text_revs" data-slide-to="8")
			.controls.text_controls
				a( class="left carousel-control" href="#text_revs" role="button" data-slide="prev") ❮
				a( class="right carousel-control" href="#text_revs" role="button" data-slide="next") ❯
		a.button.button_revs(href="#prices") Участвовать